<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.jpg">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
           {{>header}}
         <p>Hey! if you need help please drop a mail at {{email}}.</p>
        </div>
       
         {{>footer}}
    </body>
</html>