<!DOCTYPE html>
<html>
    <head>
      <title>WeatherApp</title>
      <link rel="icon" href="/img/weather.jpg">
      <link rel="stylesheet" href="/css/styles.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
          <div class="main-content">
             {{>header}}
             <p>Enter your city name to get current weather details</p>
             <form>
              <input placeholder="location">
              <button>Search</button>
             </form>
             <br>
             <p>Or</p>
             
             <p>Choose your current location : </p>
              <button id="send-location">My Location</button>
             <p id="message-1"></p>
             <p id="message-2"></p>
              <div id="gif" class="gify">
                <img class="portrait" id='giffy' src="" style=" display: none">
              </div>
          </div>
         {{>footer}}
         <script src="/js/app.js"></script>
    </body>
</html>

